.App-header {
  padding: 10px 0;
  background: linear-gradient(90deg, #fdfdfd 0%, #21bdb8 100%);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.App-main {
  padding: 10px 60px;
}

.results-table {
  border: 1px solid #000;
}

.App-footer {
  background: #383535;
}

.App-footer-content { 
  color: #fff;
}